body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-item{
  margin-left: 40px;
}
#footer_section ,a{
  color: #828282;
  height :3px;
  display: block;
   margin: 8px 0;  
  text-decoration: none;
}

.footer-link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  transition:color 0.3s ease ;
}
.footer-link a:hover{
  color:#1313c2;
  
}